/**
 * Theme configuration. See https://vuetifyjs.com/quick-start.
 */

@require '../../node_modules/vuetify/src/stylus/settings/_colors'

// define app color theme and overrides
$theme := {
  primary: #F5B70B
  accent: $yellow.base
  secondary: #424242
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}
